<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>

<h2><%= @restaurant.address %></h2>
<p><%= @restaurant.phone_number %></p>

<%= link_to "Soumettre un avis positif", new_restaurant_review_path(@restaurant) %>

<div class="reviews">
  <h2>Avis</h2>
  <% @restaurant.reviews.each do |review| %>
    <p>
      <% Review::AUTHORIZED_RATINGS.each do |number| %>
        <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
      <% end %>
      <%= review.content %>
    </p>
  <% end %>
</div>
<br>

<%= link_to "Retour a la liste des restaurants", restaurants_path %>
<br>
